In [1]:
import sys
import os

sys.path.append("../")
print(os.getcwd())

C:\Users\sykoral\OneDrive - YRBrands\Documents\soukromé dokumenty\VŠE\diplomka\bitbucket\rulesRandomForest\notebooks

In [2]:
%run ../main.py

In [3]:
from randomForest import RandomForest
import pandas as pd

In [4]:
df = pd.read_csv("data/titanic.csv", sep="\t")
df = df.fillna("nan")
cols = ["Age", "Sex", "Embarked", "Fare", "Pclass", "Survived"]
df = df[cols]
df.head()

                   Age     Sex Embarked       Fare Pclass Survived
0  <16.13336;32.10002)  female        S  very high      1        1
1    <0.1667;16.13336)    male        S  very high      1        1
2    <0.1667;16.13336)  female        S  very high      1        0
3  <16.13336;32.10002)    male        S  very high      1        0
4  <16.13336;32.10002)  female        S  very high      1        0

In [5]:
randomForest = RandomForest()
randomForest.load_pandas(df)
randomForest.fit(antecedents = ["Age", "Sex", "Embarked", "Fare", "Pclass"], consequent = "Survived", desired_state = 1)
frame = randomForest.get_frame()

In [6]:
print(frame)

                       Age     Sex Embarked      Fare  Pclass  Survived  \
0                      NaN     NaN      NaN       NaN     NaN       0.0
1        <0.1667;16.13336)    male      NaN       NaN     1.0       1.0
2      <32.10002;48.06668)    male      NaN       NaN     1.0       1.0
3      <48.06668;64.03334)    male      NaN       NaN     1.0       1.0
4            <64.03334;80>    male      NaN       NaN     1.0       1.0
5        <0.1667;16.13336)    male      NaN       NaN     1.0       1.0
6      <48.06668;64.03334)  female      NaN       avg     1.0       0.0
7      <48.06668;64.03334)  female      NaN       avg     2.0       0.0
8      <16.13336;32.10002)  female        C       avg     1.0       1.0
9      <16.13336;32.10002)  female        C       avg     2.0       1.0
10       <0.1667;16.13336)  female        C       avg     1.0       1.0
11       <0.1667;16.13336)  female        C       avg     2.0       1.0
12     <32.10002;48.06668)  female        C       avg     1.0       1.0
13     <32.10002;48.06668)  female        C       avg     2.0       1.0
14           <64.03334;80>  female        C       avg     1.0       1.0
15           <64.03334;80>  female        C       avg     2.0       1.0
16     <16.13336;32.10002)  female        Q       avg     1.0       1.0
17     <16.13336;32.10002)  female        Q       avg     2.0       1.0
18       <0.1667;16.13336)  female        Q       avg     1.0       1.0
19       <0.1667;16.13336)  female        Q       avg     2.0       1.0
20     <32.10002;48.06668)  female        Q       avg     1.0       1.0
21     <32.10002;48.06668)  female        Q       avg     2.0       1.0
22           <64.03334;80>  female        Q       avg     1.0       1.0
23           <64.03334;80>  female        Q       avg     2.0       1.0
24     <16.13336;32.10002)    male        S    higher     1.0       1.0
25     <16.13336;32.10002)    male        Q    higher     1.0       1.0
26     <16.13336;32.10002)    male        S  very low     1.0       1.0
27     <16.13336;32.10002)    male        Q  very low     1.0       1.0
28     <16.13336;32.10002)    male        S       avg     1.0       1.0
29     <16.13336;32.10002)    male        Q       avg     1.0       1.0
...                    ...     ...      ...       ...     ...       ...
23071        <64.03334;80>    male        S       avg     2.0       0.0
23072        <64.03334;80>    male        S       avg     3.0       0.0
23073  <16.13336;32.10002)    male        S       avg     2.0       0.0
23074  <16.13336;32.10002)    male        S       avg     3.0       0.0
23075  <16.13336;32.10002)    male        S     lower     2.0       0.0
23076  <16.13336;32.10002)    male        S     lower     3.0       0.0
23077        <64.03334;80>    male        S     lower     2.0       0.0
23078        <64.03334;80>    male        S     lower     3.0       0.0
23079  <16.13336;32.10002)    male        S     lower     2.0       0.0
23080  <16.13336;32.10002)    male        S     lower     3.0       0.0
23081  <16.13336;32.10002)    male        S  very low     2.0       0.0
23082  <16.13336;32.10002)    male        S  very low     3.0       0.0
23083        <64.03334;80>    male        S  very low     2.0       0.0
23084        <64.03334;80>    male        S  very low     3.0       0.0
23085  <16.13336;32.10002)    male        S  very low     2.0       0.0
23086  <16.13336;32.10002)    male        S  very low     3.0       0.0
23087  <16.13336;32.10002)    male        S       avg     3.0       0.0
23088        <64.03334;80>    male        S       avg     3.0       0.0
23089  <16.13336;32.10002)    male        S       avg     2.0       0.0
23090  <16.13336;32.10002)    male        S       avg     3.0       0.0
23091  <16.13336;32.10002)    male        S       avg     2.0       0.0
23092  <16.13336;32.10002)    male        S       avg     2.0       0.0
23093  <16.13336;32.10002)    male        S       avg     3.0       0.0
23094  <16.13336;32.10002)    male        S       avg     2.0       0.0
23095        <64.03334;80>    male        S       avg     2.0       0.0
23096        <64.03334;80>    male        S       avg     3.0       0.0
23097        <64.03334;80>    male        S       avg     2.0       0.0
23098        <64.03334;80>    male        S       avg     2.0       0.0
23099        <64.03334;80>    male        S       avg     3.0       0.0
23100        <64.03334;80>    male        S       avg     2.0       0.0

        support  confidence
0      0.335267    0.335267
1      0.002467    0.919355
2      0.006060    0.183486
3      0.007705    0.265672
4      0.005757    0.265469
5      0.002467    0.919355
6      0.002554    0.921875
7      0.002857    0.942857
8      0.000779    0.947368
9      0.000866    1.000000
10     0.000390    0.900000
11     0.000390    1.000000
12     0.000649    0.882353
13     0.000563    1.000000
14     0.000693    0.941176
15     0.000606    1.000000
16     0.000779    0.947368
17     0.000866    1.000000
18     0.000390    0.900000
19     0.000390    1.000000
20     0.000606    0.875000
21     0.000563    1.000000
22     0.000649    0.937500
23     0.000606    1.000000
24     0.000649    0.454545
25     0.000346    0.258065
26     0.000260    0.187500
27     0.000260    0.250000
28     0.000303    0.155556
29     0.000260    0.181818
...         ...         ...
23071  0.000216    0.031847
23072  0.000173    0.027211
23073  0.000173    0.029412
23074  0.000346    0.062992
23075  0.000087    0.014706
23076  0.000346    0.051282
23077  0.000087    0.015385
23078  0.000173    0.025806
23079  0.000087    0.014706
23080  0.000346    0.051282
23081  0.000043    0.012821
23082  0.000000    0.000000
23083  0.000087    0.019231
23084  0.000000    0.000000
23085  0.000043    0.012821
23086  0.000000    0.000000
23087  0.000346    0.062992
23088  0.000173    0.027211
23089  0.000173    0.029412
23090  0.000346    0.062992
23091  0.000173    0.029412
23092  0.000173    0.029412
23093  0.000346    0.062992
23094  0.000173    0.029412
23095  0.000216    0.031847
23096  0.000173    0.027211
23097  0.000216    0.031847
23098  0.000216    0.031847
23099  0.000173    0.027211
23100  0.000216    0.031847

[23101 rows x 8 columns]